/* HEADER */
.custom-header {
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* NAV */
.nav-desktop {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-connect {
  background: #c94112;  color: #fff; border: none; padding: 0.5rem 1.2rem;
  border-radius: 8px; cursor: pointer; font-size: 0.9rem; font-weight: 500;
  transition: background 0.2s, transform 0.15s;
}
.btn-connect:hover { 
  background: #c9411200; 
  transform: scale(1.03); 
  background: #c94112; 
}

.nav-desktop a,
.nav-desktop button {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-desktop button:hover {
  color: #0073ff;
}

/* BUTTONS */
.btn-primary {
  background: #0073ff;
  color: #fff !important;
  padding: 8px 15px;
  border-radius: 8px;
}

.btn-login {
  background: #f56565;
  color: #fff !important;
  padding: 8px 15px;
  border-radius: 8px;
}

/* MOBILE */
.menu-toggle {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
}

/* MOBILE MENU */
.mobile-menu {
  display: none;
  flex-direction: column;
  padding: 15px;
  border-top: 1px solid #eee;
}

.mobile-menu a,
.mobile-menu button {
  padding: 10px 0;
  text-align: left;
}

/* CHAT MODAL */
.chat-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.chat-content {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

.chat-header {
  display: flex;
  justify-content: space-between;
}

.chat-footer {
  text-align: right;
  margin-top: 20px;
}

.chat-footer button {
  background: #0073ff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu.active {
    display: flex;
  }
}